body {
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

ul {
    display: flex;
    gap: 1rem;
}